# Compiled source #
###################
docroot/WEB-INF/classes
docroot/WEB-INF/ext-impl/classes
.class

# Libraries	#
###################
.jar

# Logs files #
###################
.log

# Eclipse files #
###################
.settings
.classpath
.project